/* common or utilities */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans&family=Poppins:wght@500;600&family=Work+Sans:wght@400;700&display=swap");

* {
  margin: 0;
}
body {
  font-family: "Work Sans";
}
/* header styles  */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 144, 14, 0.1);
}
/* navigation styles */
nav {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  padding-top: 2rem;
}
.navigation ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.navigation a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
.nav-title {
  font-size: 2.5rem;
}
.nav-title span {
  color: #ff900e;
}

/* banner styles */
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.banner-container img {
  width: 75%;
}
.banner-title {
  font-size: 4rem;
  width: 40%;
  margin-bottom: 2rem;
}
.banner-description {
  color: #727272;
  font-weight: 400;
  width: 55%;
}
.btn-explore {
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px 25px;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
/* main part of body styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* feature section styles */
.features {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 75%;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.feature-title {
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 1.2rem;
}
.feature-title-1 {
  font-weight: 500;
  color: #727272;
}
.feature-title-2 {
  color: #ff900e;
}
.feature-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

/* feature blog styles */

.new-features {
  display: flex;
  gap: 3rem;
  width: 75%;
}
.blogs-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  border-left: 5px solid #ff900e;
  padding-left: 1rem;
}
.blogs-info {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding-top: 1.5rem;
  padding-bottom: 1.8rem;
}
/* article section styles */
.blog-article {
  padding: 1.8rem;
}
.article-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  padding-bottom: 0.8rem;
}
.article-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* experience button styles */
.experience-btn {
  padding: 20px 42px;
  font-weight: 700;
  background-color: #ff900e;
  margin-top: -5rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 10px;
}
.experience-btn h2 {
  font-weight: 700;
  font-size: 3rem;
}

/* fact styles */
.fact-container {
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.fact-info {
  margin-left: -3rem;
}
.fact-title {
  font-weight: 700;
  font-size: 2rem;
  color: #131313;
  padding-bottom: 1rem;
}
/* fact icons styles */
.fact-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
}
.box {
  text-align: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 2rem;
  margin-top: 2rem;
  transition: 0.35s ease-in-out;
}
.box h2 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  color: #424242;
}
.box p {
  color: #727272;
}

.box:hover {
  background-color: rgba(240, 221, 224, 0.842);
  transform: scale(1.2);
}
/* sponsor styles */
.sponsor-info {
  text-align: center;
  margin-bottom: 3rem;
}
.sponsor-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.sponsor-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #131313;
  padding-bottom: 1rem;
}
.sponsor-logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
  justify-items: center;
  align-items: center;
}
/* turning logos into black and white  */
.sponsor-logo img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* extra section for bonus */
.work {
  margin-bottom: 5rem;
}
.work-title {
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.work-info {
  font-size: 1rem;
  font-weight: 400px;
  color: #727272;
}
.work-images {
  box-shadow: 5px 5px 5px 5px #8888;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(127, 127, 253);
  transition: 0.4s ease-in-out;
}
.work-images:hover {
  transform: scale(1.1);
}
.work-images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  text-align: center;
  padding-top: 2.5rem;
}
.work-images-container img {
  border-radius: 10px;
}
.work-images-container h3 {
  padding-top: 1.2rem;
  font-size: 1.5rem;
  color: white;
}
/* footer section  */
footer {
  margin: 6rem 10rem;
}
.footer h4 {
  text-align: center;
  background-color: #e4d6c6;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: 400;
  color: #131313;
}

/* responsive styles */
@media screen and (max-width: 568px) {
  body {
    width: 100%;
  }
  nav {
    flex-direction: column;
    justify-content: right;
    margin-left: -4rem;
  }
  .navigation ul {
    margin: 5px;
  }
  .banner-title {
    font-size: 2rem;
    width: 100%;
  }
  .banner-img img {
    width: 100%;
  }
  .features {
    flex-direction: column;
  }
  .feature-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .new-features {
    flex-direction: column;
  }
  .blog-image img {
    width: 100%;
  }
  .experience-btn h2 {
    font-size: 2rem;
  }
  .fact-container {
    padding: 1rem;
  }
  .fact-info {
    margin: 0;
  }
  .fact-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .box:hover {
    transform: scale(1.05);
  }
  .work {
    padding: 0.7rem;
    margin-right: 0;
  }
  .work-images-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
  }
  .work-images:hover {
    transform: scale(1.04);
  }
  .sponsor {
    padding: 1rem;
  }
  .sponsor-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }
  footer {
    width: 100%;
    margin: 1rem 0;
  }
}
